# Python cache & pytest
__pycache__/
*.pyc
venv/
.pytest_cache


# Generated runtime directories to save user data
javas/
plugins/
versions/
servers/
mojang/
.logs/
#This file Genrated when U run for the firt time
setup_done.txt


# test % debug
debug/
test/
bot-test/
*.zip
test*.*
test-*.*

